body {
  font-family: 'Inter', sans-serif;
  background-color: #1B1B1E;
  color: #D8DBE2;
  max-width: 700px;
  margin: auto;
  padding: 10rem 10rem;
  line-height: 1.6;
}

.main {
    padding: 0 2rem;
}

.post-box {
    border-radius: 15px;
    border: 2px solid #373F51;

    margin: 4rem 0rem;
    padding: .5rem 1rem 1rem 1rem;
}

.post-box .top {
    padding: 0px 1rem;
}

.post-box .list .post {
    line-height: 1;
    border-radius: 10px;
    padding: 1px 1rem;
    user-select: none;
}

.post-box .list .post:hover {
    background-color: #373F51;
}

.post-link {
  text-decoration: none;
}

.floating-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    user-select: none;
    align-items: center;

    top: 20%;
    left: 2rem;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: .3rem;
    transition: background-color .2s;
}

.navigation-bar:hover {
    background-color: #373f513f;
}


.floating-bar-button {
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    color: #7e8cac;
    transition: color .2s, transform .2s;
}

.floating-bar-button:hover {
    color: #A9BCD0;
    transform: scale(1.15) rotate(5deg);
}

.floating-bar-button.active {
    background-color: #A9BCD0;
    color: #1B1B1E;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

@media (max-width: 800px) {
    body {
        margin: auto;
        padding: 8rem 2rem;
    }
    .floating-bar {
        flex-direction: row;

        top: 2.5rem;
        left: 2rem;
    }
    .navigation-bar {
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    .main {
        padding: 0 0rem;
    }
    div.post-box {
        margin: 4rem 0rem;
        border: 0;
        padding: 0;
    }
}

.header {
    font-weight: bold;
    color: #D8DBE2;
}

.content {
    font-weight: lighter;
    color: #7e8cac;
}

a.page_link {
    color: #373F51;
    text-decoration: none;
    transition: color .25s;
}

a.page_link:hover {
    color: #A9BCD0;
    text-decoration: none;
}

.achievement-ticker {
    font-size: 12px;
    padding-block: 12px;
    overflow: hidden;
    display: flex;

    --gap: 2rem;
    gap: var(--gap);
}

.achievement-ticker div {
    display: flex;
    gap: var(--gap);

    animation: scroll 20s linear infinite;
}

.achievement-ticker div {
    text-wrap-mode: nowrap;
}

.achievement-ticker:hover div {
    animation-play-state: paused;
}

.achievement-ticker span {
    color: #7e8cac;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.about .top {
    line-height: 1rem;
}

.image {
    line-height: 1rem;
    margin: 3rem 0rem 3rem 0rem;
}

.image img {
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
    display: block;
}

.image p {
    font-size: small;
    color: #555963;
}